@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jockey+One&family=Libre+Barcode+39&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: theme('colors.dark-bg'); /* Set background color to dark */
    color: theme('colors.text-primary'); /* Set text color to primary */
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

.shadow-custom {
    background: linear-gradient(to top, rgba(215, 75, 15, 0.15) 10%, rgba(13, 13, 13, 0));
  }

.shadow-glow {
    box-shadow: 0 4px 8px rgba(215, 75, 15, 0.95);
  }

  .text-shadow-custom {
    text-shadow: currentcolor 0px 0px 16px;
  }

  .blur {
    filter: blur(5px);
  }

  .flash {
    animation: flash 0.5s ease-in-out;
  }
  
  @keyframes flash {
    0% {
      background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
      color: transparent;
    }
    50% {
      background-color: transparent;
      color: transparent;
    }
    100% {
      background-color: transparent;
      color: inherit;
    }
  }

  .radio-button {
    appearance: none;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #262626;
    position: relative;
    cursor: pointer;
  }
  
  .radio-button:checked {
    background-color: #ffad33;
  }
  
  .radio-button:hover:not(:checked) {
    border-color: #262626;
    background-color: #fff;
  }